
Fuentes de datos/Saber_11_2020-2.csv
Módulo_1-Refinamiento_de_técnicas_de_análisis_de_datos/acumulado_saber_11.csv
Módulo_2-Técnicas_de_limpieza_normalización_y_estandarización_en_análisis_de_datos/acumulado_saber_11.csv
Módulo_5-Machine_Learning_para_análisis_de_datos/salary.csv
Módulo_5-Machine_Learning_para_análisis_de_datos/student_scores.csv
